*{
    box-sizing: border-box;
    font-family: poppins;
}

#boton-ubicacion-mapa{
    margin-left: 170px;

}

#tarjeta-mascota{
    display: auto;
    font-size: 15px;
    align-self: center;
    margin-bottom: 50px;
    margin-left: 190px;
}



.card-img{
    border-radius: 50%;
    align-self: center;
    margin-left: 25px;
    margin-top: 50px;
}

.card-title{
    color: green;
    font-weight:bolder;
    font-size: 30px;
    padding-left: 28px;
}
a{
    text-decoration:none;
    color:green;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
}

.dot {
    height: 100px;
    width: 100px;
    background-color: rgb(219, 209, 209);
    border-radius: 50%;
    display: inline-block;
    margin-left: 90px;
    margin-top: 90px;
    font-family: poppins;
    text-align: center;
    padding-top: 33px;
    font-size:13px;
  }


  .dot:hover{
      background-color: rgb(53, 194, 65);
      -webkit-transition: blue 0.5s 0s ease, all 0.5s 0s ease;
    -moz-transition: green 0.5s 0s ease, all 0.5s 0s ease;
    -o-transition: blue 0.5s 0s ease, all 0.5s 0s ease;
    transition: blue 0.5s 0s ease, all 0.5s 0s ease
  }

  
  .btn-group{
      width: 100px;
      margin-left: 270px;
      margin-bottom: 15px;
      margin-top: 15px;
  }