<footer class="text-center footer-style">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h4>{{'FOOTER1' | translate}}</h4>
                <h6>
                    Julieta Llanos <br />
                    Virginia Mercado<br />
                    Gustavo Ezequiel Miarka <br />
                    Rocio Zarate Calviño
                </h6>
            </div>
            <div class="col-md-4 footer-col">
                <h4>{{'FOOTER2' | translate}}</h4>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="{{'FOOTER3' | translate}}">
                    <span class="input-group-btn">
                        <button class="btn btn-outline-light" type="submit">{{'FOOTER-BUTTON' | translate}}</button>
                    </span>    
                </div>
                <div id="bloque-redes-sociales">
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram social-media"  title="Instagram"></i></a> 
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook social-media" title="Facebook"></i></a> 
                    <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter social-media" title="Twitter"></i></a>               
                </div>       
            </div>
            <div class="col-md-4 footer-col">
                <h4>Geo pet</h4>
                <h6>{{'FOOTER-LEYEND' | translate}}</h6>
            </div>
        </div>
    </div>
</footer>
