<app-header></app-header>

<form action="">
    <div class="p-3 mb-2 bg-secondary text-white" >CONTACTO</div>
      <h2>
        CONTACTO
      </h2>
      <div class="form-group">
        <input type="nombre" class="form-control" id="Nombre" placeholder="Nombre">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="Email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="Teléfono" class="form-control" id="Teléfono" placeholder="Teléfono">
      </div>
      <textarea name="Comentario o Mensaje" placeholder="Escriba aquí su comentario o mensaje"></textarea>
      <input type="submit" value="ENVIAR" id="boton">
  </form>


<app-footer></app-footer>