<app-header></app-header>

<form>
    <h1>Recuperar Contraseña</h1>
    <br>
    <br>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ingrese su email </label>
      <input type="contrasena" class="form-control" id="contrasena" aria-describedby="contrasena">
      <div id="contrasena" class="form-text"></div>
    </div>
    
    <div class="mb-3">
        <label for="email" class="form-label">Le enviaremos un enlace a su email para validar su usuario.</label>
      </div>
    
    <br>
    
    <button type="submit" class="btn btn-primary">Enviar</button>
    <br>
    <br>
  </form>

<app-footer></app-footer>