<main>  
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/carrusel1.png" class="img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{'MAIN-CARROUSEL1' | translate}}</h5>
                    <a href="form-registro.html">
                        <button type="button" class="btn btn-success" >{{'MAIN-BUTTON1' | translate}}</button>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/carrusel2.png" class="img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{'MAIN-CARROUSEL2' | translate}}</h5>
                    <a href="suscripcion.html">
                        <button type="button" class="btn btn-success" >{{'MAIN-BUTTON2' | translate}}</button>
                    </a>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="../../../assets/carrusel3.png" class="img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{'MAIN-CARROUSEL3' | translate}}</h5>
                    <a href="beneficios.html">
                        <button type="button" class="btn btn-success">{{'MAIN-BUTTON3' | translate}}</button>
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>
