<main>  
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/carrusel1.png" class="img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Cuida tu mascota desde tu celular</h5>
                    <a href="form-registro.html">
                        <button type="button" class="btn btn-success" >Crea tu perfil</button>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/carrusel2.png" class="img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Elegí el plan que se ajuste a vos</h5>
                    <a href="suscripcion.html">
                        <button type="button" class="btn btn-success" >Ver planes</button>
                    </a>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="../../../assets/carrusel3.png" class="img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Te ofrecemos asistencia 24/7</h5>
                    <a href="beneficios.html">
                        <button type="button" class="btn btn-success">Testimonios</button>
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>
