<app-header></app-header>

<main>
<section>
    <div class="foto-mascota col-md-5" id="foto">
        <img src="../../../assets/fotoregistrousuario.jpg" class=" foto-mascotas rounded float-start col-lg" alt="mascotas" id="foto-mascota">
    </div>
    <div class="conteiner col-lg-12 offset-md-7" id="form-registro">
        <form class="form-horizontal col-sm-5 col-md-8 col-lg-3" style="margin-left: 3%;" id="form1" action="/envio-contacto.php" method="post">
            <div class="mb-3">
                <h3 id="titulo">Formulario de Registro</h3>
                <label for="exampleInputEmail1" class="form-label" id="nombre">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="inputnombre" minlength="2" maxlength="20" aria-describedby="emailHelp" required>
                <label for="exampleInputEmail1" class="form-label" id="apellido">Apellido</label>
                <input name="apellido" type="text" class="form-control" id="inputapellido" minlength="2" maxlength="20" aria-describedby="emailHelp" required>
                <label for="exampleInputEmail1" class="form-label" id="telefono">Teléfono</label>
                <input name="telefono" type="tel" class="form-control" id="inputtelefono" min="3" max="15" aria-describedby="emailHelp" required>
                <label for="exampleInputEmail1" class="form-label" id="mail">Correo Electrónico</label>
                <input name="correo_electronico" type="email" class="form-control" id="inputmail" aria-describedby="emailHelp" required>
                
                <label for="exampleInputPassword1" class="form-label" id="password">Contraseña</label>
                <input name="contrasena" type="password" class="form-control" id="inputpassword" required>
                <label for="exampleInputPassword1" class="form-label" id="password2">Repita su Contraseña</label>
                <input name="repcontrasena" type="password" class="form-control" id="inputpassword2" required>
                <div id="emailHelp" class="form-text">Nunca compartiremos sus datos con nadie más</div>
            </div>
            <div id="alertboton"></div>
            <button name="registrarse" type="submit" class="btn btn-primary" id="boton" onclick="comprobar2()">Registrarse</button>
          </form>
    </div>
</section>
</main>

<app-footer></app-footer>