<app-header></app-header>

<section class="beneficios-premium container-fluid p-5 text-center" id="beneficios-suscripcion">
    <h2 class="m-6 p-5">{{'ABOUT-TITLE' | translate}}</h2>
    <div class="row">
        <div class="col-sm-4">
            <h5 class="card-title ">{{'ABOUT-SUBTITLE1' | translate}}</h5>
            <img src="../../../assets/adopcion.svg" alt="historial" width="160px" img-fluid>
            <div class="card-body ">
                <p class="card-text ">{{'ABOUT-PARAGRAPH1' | translate}}</p>
            </div>
        </div>
      <div class="col-sm-4">
            <h5 class="card-title ">{{'ABOUT-SUBTITLE2' | translate}}</h5>
            <img src="../../../assets/location.svg" alt="location" width="160px" img-fluid>
            <div class="card-body ">
                <p class="card-text ">{{'ABOUT-PARAGRAPH2' | translate}}
                </p>
            </div>
        </div>
       <div class="col-sm-4">
            <h5 class="card-title ">{{'ABOUT-SUBTITLE3' | translate}}</h5>
            <img src="../../../assets/paseo.svg" alt="mascotas " width="160px" img-fluid>
            <div class="card-body ">
                <p class="card-text ">{{'ABOUT-PARAGRAPH3' | translate}}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
<div class="col-sm-4">
            <h5 class="card-title ">{{'ABOUT-SUBTITLE4' | translate}}</h5>
            <img src="../../../assets/medicine.svg" alt="historial" width="160px" img-fluid>
            <div class="card-body ">

                <p class="card-text ">{{'ABOUT-PARAGRAPH4' | translate}}</p>
            </div>
        </div>
      <div class="col-sm-4">
            <h5 class="card-title ">{{'ABOUT-SUBTITLE5' | translate}}</h5>
            <img src="../../../assets/food.svg" alt="mascotas " width="160px" img-fluid>
            <div class="card-body ">

                <p class="card-text ">{{'ABOUT-PARAGRAPH5' | translate}}
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <h5 class="card-title ">{{'ABOUT-SUBTITLE6' | translate}}</h5>
            <img src="../../../assets/email.svg" alt="mascotas " width="160px" img-fluid>
            <div class="card-body ">

                <p class="card-text ">{{'ABOUT-PARAGRAPH6' | translate}}</p>
            </div>
        </div>
    </div>
</section>

<section class=" container-fluid p-6 text-center" id="testimoniales">
    <h2>{{'ABOUT-TESTIMONIALS-TITLE' | translate}}</h2>
    <p class="usuarios">{{'ABOUT-TESTIMONIAL-SUB' | translate}}</p>
    <div class="row">
        <div class="col-sm-6">
            <div class="testimonial">
                <p>{{'ABOUT-TESTIMONIAL1' | translate}}
                </p>
            </div>
            <div class="media">
                <img src="../../../assets/m1.jpg" class="mr-3" alt="" width="200px">
                <div class="media-body">
                    <div class="overview">
                        <div class="name"><b>Paula Canavese</b></div>
                        <div class="details">{{'ABOUT-TESTIMONIAL-FOOTER1' | translate}}</div>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="testimonial">
                <p>{{'ABOUT-TESTIMONIAL2' | translate}}
                </p>
            </div>
            <div class="media">
                <img src="../../../assets/h1.jpg" class="mr-3" alt="" width="200px">
                <div class="media-body">
                    <div class="overview">
                        <div class="name"><b>Federico Navarro</b></div>
                        <div class="details">{{'ABOUT-TESTIMONIAL-FOOTER1' | translate}}</div>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="testimonial">
                    <p>{{'ABOUT-TESTIMONIAL3' | translate}}</p>
                </div>
                <div class="media">
                    <img src="../../../assets/m2.jpg" class="mr-3" alt="" width="200px">
                    <div class="media-body">
                        <div class="overview">
                            <div class="name"><b>Paulina Maldonado</b></div>
                            <div class="details">{{'ABOUT-TESTIMONIAL-FOOTER1' | translate}}</div>
                            <div class="star-rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="testimonial">
                    <p>{{'ABOUT-TESTIMONIAL4' | translate}}</p>
                </div>
                <div class="media">
                    <img src="../../../assets/h2.jpg" class="mr-3" alt="" width="200px">
                    <div class="media-body">
                        <div class="overview">
                            <div class="name"><b>Roman Perez</b></div>
                            <div class="details">{{'ABOUT-TESTIMONIAL-FOOTER4' | translate}}</div>
                            <div class="star-rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  

<app-footer></app-footer>