<app-header></app-header>

<section class="beneficios-premium container-fluid p-5 text-center" id="beneficios-suscripcion">
    <h2 class="m-6 p-5">¿Por que elegir nuestra app?</h2>
    <div class="row">
        <div class="col-sm-4">
            <h5 class="card-title ">Vizualizacion de todas tus mascotas</h5>
            <img src="../../../assets/adopcion.svg" alt="historial" width="160px" img-fluid>
            <div class="card-body ">
                <p class="card-text ">Podes visualizar todas  tus mascotas al mismo tiempo en el mismo
                    lugar.</p>
            </div>
        </div>
      <div class="col-sm-4">
            <h5 class="card-title ">Ubicacion en tiempo real</h5>
            <img src="../../../assets/location.svg" alt="location" width="160px" img-fluid>
            <div class="card-body ">
                <p class="card-text ">Mas precisa para que sepas en todo momento donde esta tu mascota
                </p>
            </div>
        </div>
       <div class="col-sm-4">
            <h5 class="card-title ">Recordatorio de paseos</h5>
            <img src="../../../assets/paseo.svg" alt="mascotas " width="160px" img-fluid>
            <div class="card-body ">
                <p class="card-text ">Para que no duermas y recuerdes que tu mascota tambien merece su momento de desconexion
                </p>
            </div>
        </div>
    </div>

    <div class="row">
<div class="col-sm-4">
            <h5 class="card-title ">Recordatorios de visita al veterinario</h5>
            <img src="../../../assets/medicine.svg" alt="historial" width="160px" img-fluid>
            <div class="card-body ">

                <p class="card-text ">Para que su carnet este al dia, para recibir noticias sobre investigaciones y noticias que haran mas saludable la vida de tu mascota.</p>
            </div>
        </div>
      <div class="col-sm-4">
            <h5 class="card-title ">Alimentacion de tus mascotas</h5>
            <img src="../../../assets/food.svg" alt="mascotas " width="160px" img-fluid>
            <div class="card-body ">

                <p class="card-text ">Que tu mascota respete los horarios de su comida es fundamental para su buena salud.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <h5 class="card-title ">Descuentos en veterinarias</h5>
            <img src="../../../assets/email.svg" alt="mascotas " width="160px" img-fluid>
            <div class="card-body ">

                <p class="card-text "> Disfruta hasta 50% off en tiendas selecionadas. </p>
            </div>
        </div>
    </div>
</section>

<section class=" container-fluid p-6 text-center" id="testimoniales">
    <h2>Testimoniales</h2>
    <p class="usuarios">Lo que nuestros usuarios opinan de nosotros</p>
    <div class="row">
        <div class="col-sm-6">
            <div class="testimonial">
                <p>Genial, es una aplicacion donde encontraras lo necesario para tu mascota. Es una excelente opcion. La recomiendo 100%
                </p>
            </div>
            <div class="media">
                <img src="../../../assets/m1.jpg" class="mr-3" alt="" width="200px">
                <div class="media-body">
                    <div class="overview">
                        <div class="name"><b>Paula Canavese</b></div>
                        <div class="details">Amante de los perros</div>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="testimonial">
                <p>Me encanto! La atencion fue excelente, la precision del GPS y los recordarios de la veterinaria me facilitaron la vida. ¡Gracias GeoPet!
                </p>
            </div>
            <div class="media">
                <img src="../../../assets/h1.jpg" class="mr-3" alt="" width="200px">
                <div class="media-body">
                    <div class="overview">
                        <div class="name"><b>Federico Navarro</b></div>
                        <div class="details">Amante de los perros</div>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="testimonial">
                    <p>Muy buena la app, todo lo que necesito para mis mascotas. Lo recomiendo, tiene un excelente serivio. Es super util!</p>
                </div>
                <div class="media">
                    <img src="../../../assets/m2.jpg" class="mr-3" alt="" width="200px">
                    <div class="media-body">
                        <div class="overview">
                            <div class="name"><b>Paulina Maldonado</b></div>
                            <div class="details">Amante de los gatos</div>
                            <div class="star-rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="testimonial">
                    <p>Muy buen servicio, muy buena idea. Super conforme con mi suscripcion premium.</p>
                </div>
                <div class="media">
                    <img src="../../../assets/h2.jpg" class="mr-3" alt="" width="200px">
                    <div class="media-body">
                        <div class="overview">
                            <div class="name"><b>Roman Perez</b></div>
                            <div class="details">Veterinario</div>
                            <div class="star-rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  

<app-footer></app-footer>