<app-header2></app-header2>
<main>
  <div class="container">
    <div class="mapa">
      <div
        data-component-maps=""
        style="
          min-height: 150px;
          min-width: 240px;
          position: relative;
          float: none;
          text-align: center;
          height: 150px;
        "
      >
        <iframe
          frameborder="0"
          src="https://maps.google.com/maps?&amp;q=rosario de santa fe 400&amp;z=17&amp;t=q&amp;output=embed"
          width="600"
          height="350"
        >
        </iframe>
      </div>
    </div>
    <div class="card" style="width: 12rem">
      <img
        class="card-img-top"
        src="https://i.guim.co.uk/img/media/29dffbb841b86037eb92cd865a52141d4d4df085/0_365_5472_3283/master/5472.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=06325ada15b066ddf3d2a8ee1a4fa2b9"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title" style="color: #2c3e50; font-weight: 900">
          Cooper
        </h4>
        <h6 class="valor-bateria">
          <i class="fa fa-battery-three-quarters" style="size: 10px"></i> 74%
        </h6>
        <h4 class="distancia-casa" style="color: green">75 metros de casa</h4>
        <p>Hace 2 minutos</p>
        <button
          type="button"
          class="btn btn-outline-success"
          style="size: 10px"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>