<header id="header">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" >
      <div class="container-fluid">
        <div id="logo-nombre">
          <a class="navbar-brand" href="/index.html"><img src="../../../assets/logo geo pet.png" id="imagen-logo-header" width="168" height="76" alt=""></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {{'HEADER-NAV7' | translate}} : <select #selLang (change)="translateLanguageTo(selLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
        </select>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active " style='color:black' aria-current="page" href="/index.html">{{'HEADER-NAV1' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"style='color:black' href="/beneficios.html">{{'HEADER-NAV2' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"style='color:black' href="/contacto.html">{{'HEADER-NAV3' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style='color:black' href="form-registro.html">{{'HEADER-NAV4' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style='color:black' href="/form-login.html">{{'HEADER-NAV5' | translate}}</a>
            </li>
            <li id="importante-link" class="nav-item">
              <a class="nav-link resaltado-button" style='color:white; background-color: green; border-radius: 15px;' href="/suscripcion.html">{{'HEADER-NAV6' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>